accelerate==0.15.0
argh
dacite
demucs
diffusers==0.9.0
flask
flask_cors
numpy
pillow>=9.1.0
plotly
pydub
scipy
soundfile
sox
streamlit>=1.18.0
torch
torchaudio
torchvision
transformers==4.26.1
huggingface_hub>=0.14.1